@inject MainViewModel VM

@implements IDisposable

@code {
    protected override void OnInitialized()
    {
        VM.PropertyChanged += (_, _) => InvokeAsync(StateHasChanged);
    }
    public void Dispose() => VM.PropertyChanged -= (_, _) => InvokeAsync(StateHasChanged);
}

<footer class="status-bar">
    <span class="status-phase">
        @if (VM.IsProgressVisible)
        {
            <span>@VM.ProgressText</span>
        }
    </span>
    <span class="status-stats">
        @if (VM.HasOutput)
        {
            <span>@VM.StatsText</span>
        }
    </span>
</footer>
